<p align="right"><a href="{% url 'newRestaurant'%}">New Restaurant</a></p>
<h2>Search Restaurant</h2>
<form action="" method="post">
Restaurant : <input type="text"> <input type="submit" value="find">
</form>

<form action="{% url 'search'%}" method="post">
{% csrf_token %}
sort : 
<select name="sort">
  <option value="cost">cost</option>
  <option value="recommended">recommended</option>
</select>
Category :
<select name="category">
{% for c in category_list %}
  <option value="{{c.category_text}}">{{c.category_text}}</option>
{% endfor %}
</select>
<input type="submit" value="search">
</form>


