<p align="right"><a href="{% url 'newRestaurant'%}">New Restaurant</a><br>
<a href="{% url 'newMenu'%}">New Menu</a></p>

<h2>Search Restaurant</h2>

<form action="" method="get">
Restaurant : <input type="text"> <input type="submit" value="find">
</form>

<form action="{% url 'search'%}" method="get">
{% csrf_token %}
sort : 
<select name="sort">
  <option value="cost">cost</option>
  <option value="recommended">recommended</option>
</select>
Category :
<select name="category">
{% for category in category_list %}
  <option value="{{category.category_text}}">{{category.category_text}}</option>
{% endfor %}
</select>
<input type="submit" value="search">
</form>


