<h2>Search Restaurant</h2>
<form action="" method="post">
Restaurant : <input type="text"> <input type="submit" value="search">
</form>
sort :
<select name="sort">
  <option value="cost">cost</option>
  <option value="recommended">recommended</option>
</select>
category
<select name="category">
  <option value="All">All</option>
  <option value="noodles">noodles</option>
  <option value="rices">rices</option>
</select>
<ul>
{% for r in restaurant_list %}
<li>{{r.restaurant_text}}</li>

{% endfor %}
</ul>
